<am-grid-toolbar *ngIf="showTopToolbar" [position]="'top'"></am-grid-toolbar>

<div *ngIf="noRecords" class="no-records">No records</div>

<table *ngIf="!noRecords" class="am-grid">
  <thead>
    <tr>
      <ng-container *ngFor="let field of fields">
        <th  *ngIf="!getColumnHidden(field)" [attr.width]="getColumnWidth(field)">
          {{ getColumnTitle(field) }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <ng-container *ngFor="let field of fields">
        <td *ngIf="!getColumnHidden(field)">{{ row[field] }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>

<am-grid-toolbar
  *ngIf="showBottomToolbar"
  [position]="'bottom'"
></am-grid-toolbar>
