<am-grid-toolbar *ngIf="showTopToolbar" [position]="'top'"></am-grid-toolbar>

<div *ngIf="noRecords" class="no-records">No records</div>

<table *ngIf="!noRecords" class="am-grid">
  <thead>
    <tr>
      <th *ngFor="let colName of colNames">{{ colName }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let colName of colNames">{{ row[colName] }}</td>
    </tr>
  </tbody>
</table>

<am-grid-toolbar
  *ngIf="showBottomToolbar"
  [position]="'bottom'"
></am-grid-toolbar>

<ng-content></ng-content>
