<am-grid-toolbar *ngIf="showTopToolbar" [position]="'top'"></am-grid-toolbar>

<div *ngIf="noRecords" class="no-records">No records</div>

<table *ngIf="!noRecords" class="am-grid">
  <thead>
    <tr>
      <ng-container *ngFor="let field of fields">
        <th
          *ngIf="!getColumnHidden(field)"
          [attr.width]="getColumnWidth(field)"
        >
          {{ getColumnTitle(field) }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; index as rowIndex">
      <ng-container *ngFor="let field of fields; index as columnIndex">
        <td *ngIf="!getColumnHidden(field)">
          <ng-container *ngIf="!hasCellTemplate(field)">
            {{ row[field] }}
          </ng-container>
          <ng-container *ngIf="getColumn(field) as column">
            <am-grid-cell
              [column]="column"
              [columnIndex]="columnIndex"
              [rowIndex]="rowIndex"
              [dataItem]="row"
            ></am-grid-cell>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<am-grid-toolbar
  *ngIf="showBottomToolbar"
  [position]="'bottom'"
></am-grid-toolbar>
