<h1>{{title}}</h1>
<div class="content">
  <am-grid [data]="data">
    <ng-template amGridToolbarTemplate let-dataItem [position]="'both'" let-position="position">
      <button>Some Button</button>
      <span class="toolbar-msg">Toolbar with position: "{{position}}"</span>
    </ng-template>

    <am-grid-column [field]="'ID'" [width]="100">
      <ng-template amGridCellTemplate let-dataItem>
        {{dataItem | json}}
      </ng-template>
    </am-grid-column>

    <am-grid-column [field]="'Name'" [title]="'User name'">
      <ng-template amGridCellTemplate let-dataItem>
        {{dataItem | json}}
      </ng-template>
    </am-grid-column>

  </am-grid>
</div>
