:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}


.content {
  padding: 20px;
}

.toolbar-msg {
  margin-left: 5px;
}

.red-color {
  color: rgb(235, 98, 98);
}

.green-color {
  color: rgb(38, 199, 145);
}
